python : 
->Python is high level programming ,interpreted,object oriented programming language used for ,web development software development server side web creation 
->Easy to learn and execute 
->It contains many inbuilt library

oops-> based on the concept of objects, encapsulation,abstraction,inheritance,Polymorphism

->Interpreted : source code is not directly translated into machine code ,it follows line by line code for execution thn interpreter translated to machine code  ex,python 
->Compiled :  source code written by the programmer is transformed into machine code by a compiler before it can executed ex,java

In [1]:
print('Hello world')

Hello world

Comments :
this can be used to explain the code this code will not run
1.single line comment #
2.multiline comment """ this is comment """

In [2]:
#this is single line comment
print('This is single line comment')

This is single line comment

In [4]:
'''
this is multiline comment
'''
print('This is multiline comment')

This is multiline comment

Variables:
name given to a memory location.
name='Prajwal'
following are the rules for variable 
1.variable must start with letter or underscore character
2.variable can not start with number 
3.variable name can only contain alphanumeric character
4.Reserved words can not used as variable 
5.Variable names are case sensitive 

Global variable : Variables that are created outside the function 
Local variale : variables that are created inside the function

In [6]:
name='Prajwal'
print(name)

Prajwal

In [9]:
# global variable 
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [10]:
#local variable
def example_function():
    local_var = 10  # Local variable
    print(local_var)

example_function()

10

In [8]:
# Keywords:
# Reserved words in python 
import keyword
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Data type:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool(true false)
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

Strings:Anything written inside the quotation i.e string 
->Immutable 
->ordered with index value

In [23]:
# Strings : anything characters written inside the quotation 

mystr=' This is String  '
mystr
mystr1='This is another string '

In [27]:
#strinf function 
mystr.lower()
mystr.upper()
mystr.replace('Th','th')
mystr.count('s')
mystr.startswith('t')
mystr.endswith('g')
mystr.split()
str=mystr+mystr1 # string concat
print(mystr.isalpha()) # returns True if all the characters in the text are lett
print(mystr.isalnum()) # returns True if a string contains only letters or numb
print(mystr.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr.isnumeric()) # returns True if all the characters are numeric 
mystr.strip()
mystr.rstrip("*") # removes all * character ending of the string 
mystr.lstrip('*')# removes all * character starting of the string

False
False
False
False

'This is String'

In [52]:
#String slicing
str1="This is String "
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex
str1[-4:] # Retreive last four characters of the string
str1[-6:] # Retreive last six characters of the string
str1[:4] # Retreive first four characters of the string
str1[:6] # Retreive first six characters of the string

'This i'

In [33]:
# <!-- type casting :
# the conversion of the one type of data to another type of data -->
a='1'
a=int(1)
print(1)

1

Operators : 
operators are used for calculation on variables and values 
Arithmatic operator +,-,*,/,//,%,**
Assignment operator =,==,+=,-=
comparision operator ==,!=,>,<,<=,>=
logical operator and , or , not 
Identify operator is ,is not 
membership operator in ,not in 
Bitwise operator : And ,OR,XOR,NOT

In [41]:
# Arithmatic operator : +,-,*,/,%,**
x = 10
y = 4

# Addition
add = x + y
print("Addition:", add)  # Output: 14

# Subtraction
subtract = x - y
print("Subtraction:", subtract)  # Output: 6

# Multiplication
multiply = x * y
print("Multiplication:", multiply)  # Output: 40

# Division
divide = x / y
print("Division:", divide)  # Output: 2.5

# Floor Division
floor_divide = x // y
print("Floor Division:", floor_divide)  # Output: 2

# Modulus
modulus = x % y
print("Modulus:", modulus)  # Output: 2

# Exponentiation
exponent = x ** y
print("Exponentiation:", exponent)  # Output: 10000

Addition: 14
Subtraction: 6
Multiplication: 40
Division: 2.5
Floor Division: 2
Modulus: 2
Exponentiation: 10000

In [42]:
# Assignment operator 
x = 5

# Add and assign
x += 3
print("After += 3:", x)  # Output: 8

# Subtract and assign
x -= 2
print("After -= 2:", x)  # Output: 6

# Multiply and assign
x *= 4
print("After *= 4:", x)  # Output: 24

# Divide and assign
x /= 3
print("After /= 3:", x)  # Output: 8.0

# Floor divide and assign
x //= 2
print("After //= 2:", x)  # Output: 4.0

# Modulus and assign
x %= 3
print("After %= 3:", x)  # Output: 1.0

# Exponentiate and assign
x **= 3
print("After **= 3:", x)  # Output: 1.0

After += 3: 8
After -= 2: 6
After *= 4: 24
After /= 3: 8.0
After //= 2: 4.0
After %= 3: 1.0
After **= 3: 1.0

In [43]:
# Comparision Operator
x = 10
y = 20

# Equal to
print(x == y)  # Output: False

# Not equal to
print(x != y)  # Output: True

# Greater than
print(x > y)  # Output: False

# Less than
print(x < y)  # Output: True

# Greater than or equal to
print(x >= y)  # Output: False

# Less than or equal to
print(x <= y)  # Output: True

False
True
False
True
False
True

In [46]:
# Logical operator 
x = 5
y = 10

# Using logical AND
if x > 0 and y > 0:
    print("Both x and y are greater than 0")  # Output: Both x and y are greater than 0

# Using logical OR
if x > 0 or y < 0:
    print("Either x is greater than 0 or y is less than 0")  # Output: Either x is greater than 0 or y is less than 0

# Using logical NOT
if not x == y:
    print("x is not equal to y")  # Output: x is not equal to y

Both x and y are greater than 0
Either x is greater than 0 or y is less than 0
x is not equal to y

In [47]:
# Identify operator
# Different lists with same content
list1 = [1, 2, 3]
list2 = [1, 2, 3]

# Assigning list1 to list3
list3 = list1

# Using identity operators
print(list1 is list2)    # Output: False (different objects)
print(list1 is list3)    # Output: True (same object)
print(list1 is not list2)# Output: True (different objects)

False
True
True

In [49]:
# membership operator 
my_list = ['apple', 'banana', 'cherry']

if 'banana' in my_list:
    print("Found 'banana' in the list")
else:
    print("Did not find 'banana' in the list")

Found 'banana' in the list

In [ ]:
# Bitwise operator
# Bitwise AND example
x = 10    # 1010 in binary
y = 7     # 0111 in binary

print(x & y)   # Output: 2 (0010 in binary)

# Bitwise OR example
print(x | y)   # Output: 15 (1111 in binary)

# Bitwise XOR example
print(x ^ y)   # Output: 13 (1101 in binary)

# Bitwise NOT example
x = 10
print(~x)      # Output: -11 (in decimal)

# Bitwise Left Shift example
x = 5
print(x << 1)  # Output: 10 (1010 in binary)

# Bitwise Right Shift example
x = 5
print(x >> 1)  # Output: 2 (10 in binary)

Array:a group of similar elements or data items of the same type collected at contiguous memory locations.
containers which are able to store more than one item at the same time i.e array 

Array starts with 0

In python different type of array
1.list
2.tuple
3.sets
4.dictionary

Mutable : can change r edit 
immutable : can not change r edit

List : ordered collection of different data type
-> List is an ordered sequence of items 
-> it is mutable 
-> Allows duplicate elements 
-> list=['this','is',1,'list']

In [54]:
list1=[]
print(type(list1))

<class 'list'>

In [55]:
list1=[10,20,30,'Prajwal','20.2']
list1

[10, 20, 30, 'Prajwal', '20.2']

In [62]:
#list indexing 
list1[0]
list1[2]
list1[10]

30

In [94]:
# list slicing
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item 
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at
mylist[:3] # Return first three items
mylist[:2] # Return first two items
mylist[-3:] # Return last three items
mylist[-2:] # Return last two items
mylist[-1] # Return last item of the list
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [113]:
#list function 
mylist
mylist.append('nine') # Add an item to the end of the list 
mylist
mylist.insert(9,'ten') # Add item at index location 9
mylist
mylist.insert(1,'ONE') # Add item at index location 1
mylist
mylist.remove('ONE') # Remove item "ONE"
mylist
mylist.pop() # Remove last item of the list
mylist
# mylist.pop(8) # Remove item at index location 8
mylist
del mylist[7] # Remove item at index location 7
mylist
mylist.count('one')
mylist
# mylist.clear() # Empty List / Delete all items in the list
# mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine']

In [127]:
list1=['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
list1.reverse()
list1=[9,5,2,99,12,88,34]
list1.sort()
list1.sort(reverse=True)
list1.count(2)
list1

[99, 88, 34, 12, 9, 5, 2]

In [125]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']
list10.count('one')

3

List Comprehensions
List Comprehensions provide an elegant way to create new lists.
It consists of brackets containing an expression followed by a for clause, then zero or more for
or if clauses.

In [132]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe
mylist
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers betwee
mylist1
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between
mylist2
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Tuples: grouping of similer data elements as same in list excepts tuple are immutable 
->ordered collection are data items 
->Immutable 
->Allows duplicates 
->tuple=()
->When we do not want to change the data over time, tuple is a preferred data type.->. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [133]:
tup1 = () # Empty tuple
tup2 = (10,30,60) # tuple of integers numbers
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup4 = ('one','two' , "three") # tuple of strings
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))
len(tup7)

6

In [134]:
# Tuple indexing
tup2[0] # Retreive first element of the tuple
tup4[0] # Retreive first element of the tuple
tup4[0][0] # Nested indexing - Access the first character of the first tuple elem
tup4[-1] # Last item of the tuple
tup5[-1] # Last item of the tuple

(150, 90)

In [135]:
# Tuple Slicing 
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item a
mytuple[:3] # Return first three items
mytuple[:2] # Return first two items
mytuple[-3:] # Return last three items
mytuple[-2:] # Return last two items
mytuple[-1] # Return last item of the tuple
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

adding and deleting items tuple not supports

In [136]:
list1=[mytuple]
list1

[('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')]

In [141]:
# sorting
mytuple2 = (43,67,99,12,6,90,67)
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

Sets : These are collection similer data items which is 
->unordered and unidexed collection of items 
-> set elements are unique.
-> Duplicates are not allowed
->Immutable but set itself is mutable we can add or remove from it 
->set={ }

In [146]:
myset = {1,2,3,4,5} # Set of numbers
myset
len(myset) #Length of the set
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3
# myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lis
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [147]:
myset

{1, 2, 3, 4, 5}

In [161]:
myset.add(6) # adding new item
myset
myset.update([5,3,6,8]) # multiple item update but duplicates not allowed
myset
myset.remove(6) # removing items
myset
myset.discard(8) # removing items
myset
myset.clear() # deleting all items
myset

set()

In [162]:
# set operation 
# Union
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)
A.union(B) # Union of A and B
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [165]:
#intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A & B # Intersection of A and B (Common items in both sets)
# A.intersection(B) Intersection of A and B
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

In [171]:
# Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A - B # set of elements that are only in A but not in B
A.difference(B) # Difference of sets

B- A # set of elements that are only in B but not in A
B.difference(A)
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

In [172]:
# Symmetric Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUD
A.symmetric_difference(B) # Symmetric difference of sets
"""
Updates the set calling the symmetric_difference_update() method with the symmetr
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

Dictionary:A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}
->It it mutable data type
-> duplicates are not allowed
-> key must be unique but value can b same 
-> dic={ "Key":"value"}

In [173]:
mydict = dict() # empty dictionary
mydict
mydict = {} # empty dictionary
mydict
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [176]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict
mydict.keys() # Return Dictionary Keys using keys() method
mydict.values() # Return Dictionary Values using values() method
mydict.items() # Access each key-value pair within a dictionary 
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat')}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria'], 'B': ('Bat', 'cat')}

In [180]:
mydict.keys()
mydict.values()
mydict[1]

'one'

In [194]:
# Dictionary function
mydict={'Name':'Prajwal','ID':4524,'DOB':"14-04-2002",'Address':'Banglore'}
mydict
mydict['DOB']=2002
mydict
dict={'Education':'Engg'}
mydict.update(dict)
mydict
mydict['Job']="searching"
mydict
mydict.pop('Job') # removing perticuler item
mydict
mydict.popitem() # last element removed randomly
mydict
del[mydict['Address']] # deleting item 
mydict
mydict.clear() # deleting all items

{'Name': 'Prajwal', 'ID': 4524, 'DOB': 2002}

USER INPUT : Python allows for user input.
That means we are able to ask the user for input.

In [197]:
name=input("Enter your name")
print(name)

Enter your name this

this

Conditional statement:

Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [196]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Nested if statements means condition inside the if condition

In [199]:
age=int(input("Enter your age"))
if age <18:
    print('Your not eligible for voting')
elif age<=18:
    print("Your eligible for vote")
else:
    print('You are eligible')

Enter your age 34

You are eligible

Looping statement : a fundamental aspect of programming languages that provide a way to execute a block of code repeatedly. 
For loop: The for loop iterates over a sequence (such as a list or string) or any iterable object. It executes a block of code once for each element in the sequence. 
Iterating over a list

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 

for i in 'python':
    print(i)

apple
banana
cherry
p
y
t
h
o
n

while loop : The while loop repeatedly executes a block of statements as long as a specified condition evaluates to True. It is used when you do not know beforehand how many times the loop will need to execute.

In [203]:
# Using a while loop to print numbers from 1 to 5
count = 0
while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [ ]:
# Using break in a for loop : breaks the statement when the  if conditions gets true 
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    if fruit == "banana":
        break
# Output:
# apple
# banana

In [20]:
# Using continue in a while loop  : continue except the element of if conditions 
count = 0
while count < 20:
    count += 1
    if count == 3:
        continue
    if count==10:
        break
    print(count)

1
2
4
5
6
7
8
9
1
2
3

In [23]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [22]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [207]:
# range () function : The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [27]:
#Multiplication table
num=int(input('Enter the number : '))
for i in range(10):
    print(num,'X',(i+1),'=',num*(i+1))

Enter the number :  8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [9]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [32]:
# prime number
num=int(input("Enter the number: "))
for i in range(2,num):
    if (num%i==0):
        print("This is not prime number ")
        break
else:
    print("this is  prime number ")

Enter the number:  7

this is  prime number

In [30]:
# Function to check if a number is prime
def is_prime(num):
    # Prime numbers must be greater than 1
    if num <= 1:
        return False
    # Check for factors from 2 to the square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Get user input
number = int(input("Enter a number: "))

# Check if the number is prime and print the result
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:  4

4 is not a prime number.

Python program to find the sum of first N natural numbers

In [47]:
num=5
sum=0
for i in range(num+1):
    sum+=i
print(sum)

num=2
i=0
sum=0
while(i<=num):
    sum+=i
    i+=1
print(sum)

num=5
print(int(num*(num+1)/2))


def getSum(num):
    if num<=1:
        return 1
    return num+getSum(num-1)
num1=5
print(getSum(num1))

15
3
15
15

In [28]:
# sum of n natural number 
n=int(input("Enter the number : "))
i=0;
sum=0
while(i<=n):
    sum+=i
    i+=1
    
print(f"the sum of first {n} natural number is {sum}")

Enter the number :  3

thw sum of first 3 natural number is 6

Python program to check if a numbe is positive r negative

In [34]:
num=int(input('Enter the number: '))
if num>0:
    print('positive')
elif num<0:
    print('Negative')
else:
    print('Zero')

Enter the number:  -2

Negative

Python program to check whether a number is even r odd

In [38]:
num=int(input('Enter the number : '))
if num%2==0:
    print('Number is even')
else:
    print('Number is odd')

Enter the number :  4

Number is even

Greatest of 2 number

In [55]:
num1=40
num2=30
if num>num2:
    print('is greater')
else:
    print('is lesser')

is lesser

Greatest of 3 number

In [57]:
num1,num2,num3=20,30,40
if num>=num2 and num1>=num3:
    print(num1)
elif num2>=num1 and num2>=num3:
    print(num2)
else:
    print(num3)

40

Python Program to check Leap year

In [58]:
import calendar
year=int(input('Enter year :'))
if calendar.isleap(year):
    print(year,'is leap year')
else:
    print(year,'is not leap year')

Enter year : 300

300 is not leap year

In [66]:
year=int(input('Enter the year'))
if year%4==0 and year %100!=0:
    print(year,'is leap year')
else:
    print(year,'is not leap year')

Enter the year 890

890 is not leap year

Python program to check prime number

In [67]:
# prime number
num=int(input("Enter the number: "))
for i in range(2,num):
    if (num%i==0):
        print("This is not prime number ")
        break
else:
    print("this is  prime number ")

Enter the number:  2

this is  prime number

In [68]:
# Function to check if a number is prime
def is_prime(num):
    # Prime numbers must be greater than 1
    if num <= 1:
        return False
    # Check for factors from 2 to the square root of num
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Get user input
number = int(input("Enter a number: "))

# Check if the number is prime and print the result
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:  3

3 is a prime number.

Reverse a number

In [82]:
num = 1234
temp = num
reverse = 0

while num > 0:
    remainder = num % 10
    reverse = (reverse * 10) + remainder
    num = num // 10

print(reverse)

num = 1234


# Reverse the number by converting it to a string and slicing
reversed_num_str = str(num)[::-1]

# Print the reversed string
print(reversed_num_str)

4321
4321

Reverse string

In [83]:
# Get user input
string = input("Enter a string: ")

# Reverse the string using slicing
reversed_string = string[::-1]

# Print the reversed string
print(f"The reversed string is: {reversed_string}")

Enter a string:  rbvi

The reversed string is: ivbr

Palindrome number

In [85]:
num=12213
revser=int(str(num)[::-1])
if num==revser:
    print('Palindrome')
else:
    print('Not polindrome')

Not polindrome

Polindrome String

In [86]:
# Function to check if a string is a palindrome
def is_palindrome(s):
    # Remove spaces and convert to lowercase for uniformity
    s = s.replace(" ", "").lower()
    # Check if the string is equal to its reversed version
    return s == s[::-1]

# Get user input
string = input("Enter a string: ")

# Check if the string is a palindrome and print the result
if is_palindrome(string):
    print(f'"{string}" is a palindrome.')
else:
    print(f'"{string}" is not a palindrome.')

Enter a string:  rtjf

"rtjf" is not a palindrome.

In [77]:
print('Normal pyramid ')
for i in range(5):
    x="* "
    x=x*i
    print(f'{x: ^10}')

Normal pyramid

    *
   * *
  * * *
 * * * *

In [32]:
print('Invert Pyramid\n')
for i in range(5):
    x='* '
    x=x*(5-i)
    print(f'{x: ^10}')

Invert Pyramid

* * * * *
 * * * *
  * * *
   * *
    *

In [38]:
print('Left sided Pyramid')
for i in range(5):
    x='* '
    x=x*i
    print(f'{x: <10}'

Left sided Pyramid

*
* *
* * *
* * * *

In [39]:
print('Left sided Pyramid')
for i in range(5):
    x='* '
    x=x*i
    print(f'{x: >10}')

Left sided Pyramid

        *
      * *
    * * *
  * * * *

In [40]:
for i in range(0,6): # for row 
    for j in range(1,i+1): # for column
        print("*", end=" ")
    print(' ')

*
* *
* * *
* * * *
* * * * *

In [46]:
for i in range(0,3): # for row
    for j in range(1,6): # for column
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *

In [42]:
for i in range(6):
    for j in range(6-i):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
# Number of levels in the pyramid
n = 5

# Outer loop for each level of the pyramid
for i in range(n):
    # Print leading spaces
    for j in range(n - i - 1):
        print(" ", end="")
    # Print stars for the pyramid level
    for k in range(2 * i + 1):
        print("*", end="")
    # Move to the next line after each level
    print()

    *
   ***
  *****
 *******
*********

In [44]:
# Number of levels in the inverted pyramid
n = 5

# Outer loop for each level of the inverted pyramid
for i in range(n):
    # Print leading spaces
    for j in range(i):
        print(" ", end="")
    # Print stars for the inverted pyramid level
    for k in range(2 * (n - i) - 1):
        print("*", end="")
    # Move to the next line after each level
    print()

*********
 *******
  *****
   ***
    *

In [55]:
n=int(input("Enter the number : "))
for j in range(1,11):
    i=11-j
    print(f"{n} X {i} = {n*i}")

Enter the number :  2

2 X 10 = 20
2 X 9 = 18
2 X 8 = 16
2 X 7 = 14
2 X 6 = 12
2 X 5 = 10
2 X 4 = 8
2 X 3 = 6
2 X 2 = 4
2 X 1 = 2

Function : It is a block of code used to perform specific tasks 
A function is a block of code which only runs when it is called.

Information can be passed into functions as arguments.on

In [58]:
# You can pass data, known as parameters, into a function
def my_function(): # my function is parameter
  print("Hello from a function")

my_function()

Hello from a function

In [113]:
# Arguments are specified after the function name, inside the parentheses
def add(p,q):
    print("addition of two number is :",p+q)
x=int(input("Enter 1st number:"))
y=int(input("Enter 2nd number:"))
add(x,y)

Enter 1st number: 10
Enter 2nd number: 20

addition of two number is : 30

In [79]:
def calculation(obtained_marks,total_marks):
    if obtained_marks==0:
        return 0 
    percentage=(obtained_marks/total_marks)*100
total=600
obtained=450
percentage=calculation(obtained,total)
percentage

In [78]:
def calculate_percentage(obtained_marks, total_marks):
    if total_marks == 0:
        return 0  # To avoid division by zero error
    percentage = (obtained_marks / total_marks) * 100
    return percentage

# Get input from the user
obtained = 100
total = 40

# Calculate the percentage
percentage = calculate_percentage(obtained, total)
percentage
# Print the result
# print(f"The percentage of marks obtained is {percentage:.2f}%")

250.0

In [88]:
# number is even r add 
def even_add(num):
    if num%2==0:
        print('Even')
    else:
        rprint('odd')
num=int(input("Enter the number "))
even_add(num)

Enter the number  4

Even

In [90]:
def greatest(num1,num2,num3):
    if(num1>num2):
        greater=num1
    else:
        greater=num2
    if(num3>greater):
        greater=num3
    return greater
num1=int(input('Enter the num1'))
num2=int(input('Enter the num2'))
num3=int(input('Enter the num3'))
greatest(num1,num2,num3)

Enter the num1 20
Enter the num2 30
Enter the num3 40

40

In [92]:
#factorial of n number 
def factorial(num):
    if num<=1:
        return 1 
    else:
        return num * factorial(num-1)
num=int(input('Enter the number : '))
factorial(num)

Enter the number :  4

24

In [97]:
# sum of n natatural number 
def sum(num):
    if num==0:
        return 0
    else:
        return num + sum(num-1)
num=int(input('Enter the number'))
sum(num)

Enter the number 4

10

In [103]:
# Fibbonacci series
def fiboacci(num):
   if num <= 0:
       return num
   if num == 1:
       return 1
   else: 
       return(fiboacci(num-1) + fiboacci(num-2)) 
nums = int(input("How many fibonacci numbers you want to generate -"))
fiboacci(nums)
# for i in range(nums):
#   print(fiboacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate - 4

3

In [112]:
def display():
    print('This is function'*10)
display()

This is functionThis is functionThis is functionThis is functionThis is functionThis is functionThis is functionThis is functionThis is functionThis is function

Lambda: lambda is an anonymous function without name 
lambda function can have any number of agruments but only one expression.The expression is evaluated and returned 
we use lambda function when we require nameless function for a short period of time

In [114]:
addition =lambda a:a+10
addition(5)

15

In [116]:
product=lambda a,b: a*b
product(5,10)

50

In [118]:
prt=lambda p,r,t:(p*r*t)/100
prt(10,20,30)

60.0

Map function : The map() function applies a given function to each item of an iterable (list, tuple etc.) and
returns a list of the results.

function : The function to execute for each item of given iterable.
iterable : It is a iterable which is to be mapped

In [1]:
# map function()
def calculateSquare(n):
    return n*n
    
numbers=(1,2,3,4)
result=map(calculateSquare,numbers)
print(result)
numbersSquare=list(result)
print(numbersSquare)

<map object at 0x0000019A2F9C1060>
[1, 4, 9, 16]

In [2]:
numbers=(1,2,3,4) #map with  lambda
result=map(lambda x:x*x,numbers)
print(result)
numbersSquare=list(result)
print(numbersSquare)

<map object at 0x0000019A2F9C0910>
[1, 4, 9, 16]

Random Function : gives a random number

In [13]:
import random
a=['Head','Tail',457]
flip=random.choice(a)
flip

457

OOP's: Object-Oriented Programming (OOP) is  a programming paradigm that uses objects and classes in programming.
The key principles of OOP are encapsulation, inheritance, polymorphism, and abstraction.

class :  Class is a "blueprint" for creating objects.class is the main building block and acts like template for the object .
Object : Object is a collection of data function and are also called as instance of class or class variable 
In python everything is treated as an object.

Variable defined inside the class are called class variable and function are called as method

In [ ]:
# OOP's:object oriented programming language
class sample:
    x=10
    y=20
s=sample()
print(s.x)
print(s.y)

In [14]:
class student:
    mark1,mark2,mark3=45,67,72
    def process(self):
        sum=self.mark1+self.mark2+self.mark3
        avg=sum/3
        print("total marks:",sum)
        print("Average marks:",avg)
        return
s=student()
s.process()

total marks: 184
Average marks: 61.333333333333336